<div class="header hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="../../../resources/images/logo.png" class="logo">
			</div>
		</div>
	</div>
	<nav class="menu hidden-sm hidden-xs">
		<ul>
			<li class="active"><a href="#" data-menu="1">Dashboard</a></li>
			<li><a href="#" data-menu="2">Sign In</a></li>
			<li><a href="#" data-menu="3">Classes</a></li>
			<li><a href="#" data-menu="4">Workshops</a></li>
			<li><a href="#" data-menu="5">Appointments</a></li>
			<li><a href="#" data-menu="6">Client Home</a></li>
			<li><a href="#" data-menu="7">Retail</a></li>
		</ul>
	</nav>

	<nav class="submenu hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul data-parentmenu="1">
						<li><a href="#">Dashboard</a></li>
						<li class="active"><a href="#">Business Overview</a></li>
						<li><a href="#">Schedule</a></li>
						<li><a href="#">Reports</a></li>
					</ul>
					<ul data-parentmenu="2" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>
					<ul data-parentmenu="3" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>
					<ul data-parentmenu="4" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>
					<ul data-parentmenu="5" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>
					<ul data-parentmenu="6" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>
					<ul data-parentmenu="7" hidden>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
						<li><a href="#">link</a></li>
					</ul>

				</div>
			</div>
		</div>
	</nav>
</div>