<div class="modal fade in" role="dialog" style="display:block;" *ngIf="modal.modalOpen">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="modal.close($event)"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="programModalLabel">{{modal.title}}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="formtitle">Program Title</label>
					<input type="text" class="form-control" id="formtitle" placeholder="Program Title" required [(ngModel)]="modal.program.Name">
				</div>
				<div class="form-group">
					<label for="formtype">Program Type</label>
					<select class="form-control" id="formtype" required [(ngModel)]="modal.program.Type">
						<option value="" disabled selected>Program Type</option>
						<option value="Count Series">Count Series</option>
						<option value="Time Series">Time Series</option>
						<option value="Membership">Membership</option>
					</select>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label for="formscheduling">
							<input type="checkbox" id="formscheduling" [(ngModel)]="modal.program.OnlineScheduling"> Allow Online Scheduling?
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="formtitle">Default Capacity</label>
					<input type="number" class="form-control" id="formcapacity" placeholder="Default Capacity" required [(ngModel)]="modal.program.DefaultCapacity">
				</div>
				<div class="form-group">
					<label for="formtype">Tabs</label>
					<select class="form-control multi" id="formtabs" multiple required [(ngModel)]="modal.program.Tabs">
						<option value="Classes">Classes</option>
						<option value="Appointments">Appointments</option>
						<option value="Workshops">Workshops</option>
						<option value="Outside">Outside</option>
						<option value="Inside">Inside</option>
						<option value="Gym">Gym</option>
					</select>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="modal.close($event)" *ngIf="modal.isNew">Close</button>
				<button type="button" class="btn btn-primary" (click)="modal.save($event)">{{modal.savebutton}}</button>
			</div>

		</div>
	</div>
</div>
<div class="modal-backdrop fade in" *ngIf="modal.modalOpen"></div>